* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  text-align: center;
  margin-top: 15px;
  font-size: 1.6em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  color: #000;
}
