* {
  margin: 0;
  padding: 0;
}

#root {
  background: #8ebbff;
  display: flex;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 520px;
  background: #8ebbff;
}

.display-container {
  flex: 0.5;
  flex: 0.5 1;
  display: flex;
  flex-direction: column;
}

.display,
.input {
  text-align: right;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display {
  flex: 1;
  font-size: 40px;
  width: 90%;
  align-self: flex-end;
}

.input {
  flex: 2;
  font-size: 200px;
  width: 80%;
  align-self: flex-end;
}

.keypad {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.block {
  flex: 1;
  display: flex;
}

.btn {
  flex: 1;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background: #171717;
  color: #fff;
  font-size: 45px;
  outline: none;
  cursor: pointer;
}

.btn-orange {
  background: #e48800;
}

.btn-grey {
  background: #9e9e9e;
  color: #000;
}

.footer {
  text-align: center;
  margin-top: 15px;
  font-size: 1.6em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  color: #000;
}
