* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #c6cfdd;
  color: #333;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.wrapper {
  width: 400px;
  height: 600px;
}

.button {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color: #888;
  outline: 1px solid #888;
  cursor: pointer;
  user-select: none;
}
.operator {
  background-color: #fe9241;
  color: #fff;
}

.clear-btn {
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
  outline: 1px solid #888;
  height: 4em;
  background-color: #c5c3cd;
  cursor: pointer;
}

.input {
  display: flex;
  height: 4em;
  flex: 1;
  background-color: #000;
  outline: 1px solid #888;
  color: #fff;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  align-items: center;
}

.button-layout {
  display: flex;
  width: 100%;
}

.footer {
  text-align: center;
  margin-top: 15px;
  font-size: 1.6em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  color: #000;
}
