* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #8d9aaf;
  color: #333;
}

.main {
  padding: 15px;
  background-color: #1adddd;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
}

.display {
  background-color: #fff;
  color: #000;
  padding: 20px 15px;
  text-align: center;
  border-radius: 3px;
  margin-top: 30px;
  border: 1px solid #000;
}

.clear-btn {
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
  outline: 1px solid #888;
  height: 4em;
  background-color: #c5c3cd;
}

.input {
  display: flex;
  height: 4em;
  flex: 1;
  background-color: #000;
  outline: 1px solid #888;
  color: #fff;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  align-items: center;
}

.button-layout {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.calc-button {
  display: block;
  flex: 1 1 calc(33.3333% - 0.5rem);
  width: 33.3333%;
  margin: 0.25rem;
  background-color: #8abdf0;
  border-radius: 3px;
  padding: 30px 0 30px 0;
  text-align: center;
  font-size: 1.75em;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #000;
  opacity: 1;
  cursor: pointer;
}

.display-button {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 15px;
  text-align: center;
  border-radius: 3px;
  margin-top: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

@media (min-width: 576px) {
  .main {
    max-width: 385px;
  }
}

.footer {
  text-align: center;
  margin-top: 15px;
  font-size: 1.6em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  color: #000;
}
